.locations, .amenities{
  height: 100%;
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}


.locations{
  border-right: #DDDDDD 1px solid;
  margin-left: 60px;
}

.amenities{
  margin-left: 60px;
}


.locations-title, .amenities-title{
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.property, .cities{
  font-weight: 400;
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
}
